<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>brush</title>
  <link rel="stylesheet" href="../../styles/views/brush.css">
  <link rel="stylesheet" href="../../styles/style.css">
  <link rel="stylesheet" href="../../styles/frise.css">
</head>

<body>

  <header>

    <div class="nav-container">

      <nav>
        <ol class="step-2">

          
          <li class="categories">
            <a href="../FeatherInteractive.html">
              <div class="vl"></div>
              <p class="annee" id="annee-1">10e siècle</p>
              <span class="point" id="point-1"></span>
            </a>
          </li>

          <li class="categories">
            <a href="./brush.html">
              <div class="vl active"></div>
              <p class="annee active" id="annee-2">13e siècle</p>
              <span class="point active" id="point-2"></span>
            </a>
          </li>

          <li class="categories">
            <a href="../scratch-card.html">
              <div class="vl"></div>
              <p class="annee" id="annee-3">14e siècle</p>
              <span class="point" id="point-3"></span>
            </a>
          </li>

          <li class="categories">
            <a href="../dragdrop.html">
              <div class="vl"></div>
              <p class="annee" id="annee-4">En 1791</p>
              <span class="point" id="point-4"></span>
            </a>
          </li>

          <li class="categories">
            <a href="../zoom-reliure.html">
              <div class="vl"></div>
              <p class="annee" id="annee-5">Aujourd'hui</p>
              <span class="point" id="point-5"></span>
            </a>
          </li>

        </ol>
      </nav>

      <ul class="descriptionContainer">
        <li class="texte-frise">
          <p class="description" id="description-1">UNE COMMANDE IMPÉRIALE</p>
          <span class="pointBas"></span>
        </li>
        <li class="texte-frise">
          <p class="description active" id="description-2">UN MANUSCRIT DE SAINT LOUIS</p>
          <span class="pointBas active"></span>
        </li>
        <li class="texte-frise">
          <p class="description" id="description-3">DON DE CHARLES V À LA SAINTE CHAPELLE</p>
          <span class="pointBas"></span>
        </li>
        <li class="texte-frise">
          <p class="description" id="description-4">DÉGRADÉE LORS DE LA RÉVOLUTION</p>
          <span class="pointBas"></span>
        </li>
        <li class="texte-frise">
          <p class="description" id="description-5">UNE RELIURE RESTAURÉE ET ANALYSÉE</p>
          <span class="pointBas"></span>
        </li>
      </ul>
      <a href="../../index.html">
        <img src="../../public/images/bouton-retour-hover.svg" id="bouton-retour-hover" />
        <img src="../../public/images/bouton-retour-base.svg" id="bouton-retour" />
      </a>
      
    </div>


  </header>

      <div id="logo">
      <img
        id="logo_BnF"
        src="../../public/images/logo.svg"
        alt="logo.svg"
      />
    </div>
  <!--<p id="text"></p>
  <script type="module">
    import data from 'public/data/brush.json' assert { type: 'json' };
    console.log(data.texte);
  </script>-->

<div class="texte">
<p class="texte_blanc">Ce manuscrit devient la propriété du roi de France Louis IX, connu sous le nom de Saint Louis, qui régna de 1226 à 1270. Les tranches du manuscrit sont alors peintes de fleurs de lys (emblème des rois de France) et des tours de Castille (emblème de la mère du roi, Blanche de Castille).
<br><br>
Le plat en or portant le Christ sur la croix créé vers 1260-1270 a peut-être été commandé par Saint Louis.
<br><br><span class="texte_jaune">Touchez le pinceau pour découvrir la tranche.</span></p>
</div>
            

  <div class="texte">
    <p id="text"></p>
  </div>



  <div class="book-area">
    <!-- tranche -->
    <img src="../../public/images/Etape1_Tranche.png" alt="Tranche du livre" class="tranche base">
    <img src="../../public/images/Etape2_Tranche.png" alt="Tranche révélée" class="tranche reveal" id="revealImage">

    <!-- pinceau -->
    <img src="../../public/images/pinceau 2.png" alt="Pinceau" class="brush" id="brush">

    <img src="../../public/images/Louis.png" class="Louis" id="Louis">

    <!-- conteneur du cercle et du popup -->
    <div class="circle-container">
      <img src="../../public/images/main.gif" alt="gif main" class="main" id="main">
      <div class="circle" id="circle"></div>
      <img src="../../public/images/popup.svg" alt="Popup image" class="popup" id="popup">
    </div>
  </div>


  <!--json
  <script>
    fetch('/public/data/brush.json')
      .then(response => {
        if (!response.ok) {
          throw new Error('Erreur de chargement du JSON');
        }
        return response.json();
      })
      .then(data => {
        document.getElementById('text').innerHTML = data.texte;
      })
      .catch(error => console.error(error));
  </script>-->
  <script src="../../scripts/brush.js"></script>
  <script src="../../scripts/frise.js"></script>

</body>

</html>