<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <title>Crédits - BnF</title>
  <link rel="stylesheet" href="../../styles/views/credits.css">
  <link rel="stylesheet" href="../../styles/style.css">
</head>

<body>
        <div id="logo">
      <img
        id="logo_BnF"
        src="../../public/images/logo.svg"
        alt="logo.svg"
      />
    </div>
  <div class="container">

      <div id="back-home"><a href="../../index.html" >
    <img src="../../public/images/ui/back-button.svg" /></a>
  </div>
    <h1>CREDITS</h1>
    <div class="credits">
      <div class="section">
        <h2>Equipe BnF :</h2>
        <p><b>DJENNADI Sarah</b><br>chargée d’exposition</p>
        <p><b>HERMANT Maxence</b> <br>conservateur en chef, département des Manuscrits</p>
        <p><b>LEBRUN Damien</b> <br>responsable technique des expositions</p>
        <p><b>MARCHETTI Roméo</b> <br>chargé d’édition</p>
        <p><b>MOUSSYTET Ludivine</b> <br>juriste</p>
        <p><b>PASCO Armelle</b> <br>cheffe du service des Éditions multimédias</p>
        <p><b>RIGAUX Elsa</b> <br>cheffe du service des Expositions</p>
        <p><b>RYSER Nathalie</b> <br>cheffe de projet médiation numérique</p>
        <p><b>Luminance</b> <br>econstitution numérique de la reliure</p>
      </div>

      <div class="section">
        <h2>Equipe Gobelins Promo 2027 :</h2>
        <h3>DN MADE NUMÉRIQUE</h3>
        <p>BARBIER Lina</p>
        <p>BISCARO Mathilde</p>
        <p>DESRUELS–MARCINIAK Sara</p>
        <p>DIERICK Pauline</p>
        <p>GOGET Perrine</p>
        <p>GOUIN Louane</p>
        <p>GUILLO DALISSIER Lucile</p>
        <p>L’HOCINE Thaïs</p>
        <p>LINDSTROM Timo</p>
        <p>OTHON Lola</p>
        <p>PHRASAYSITHIDETH Kelly</p>
        <p>PIERONI Nolhan</p>
        <p>RAFELANA Anaëlle</p>
        <p>RATSIMA RAMINAHY Valiavo</p>
        <p>SERNA Amandine</p>
        <p>TERRAS Sophia</p>
      </div>

      <div class="section">
        <h3>DN MADE UX/UI</h3>
        <p>AIT CHEIKH Lydia</p>
        <p>BRIQUET Ellynn</p>
        <p>CORENTHIN Nolan</p>
        <p>CURMER Anna–Laure</p>
        <p>FERNANDEZ Tom</p>
        <p>FLAUD Corentin</p>
        <p>GARNIT Leïla</p>
        <p>HORTH Daryna</p>
        <p>IHITSAGUE Justine</p>
        <p>JOUANNEAU Mailys</p>
        <p>KLAJIC–MARTINS Lisa</p>
        <p>LOURENÇO Julia</p>
        <p>MURTHEN Shivani</p>
        <p>NATRELLA Lucas</p>
        <p>NGUY VAN Cécilia</p>
        <p>PAOLETTI Maïlys</p>
        <p>SUN Henan</p>
        <p>THEOTA Kaïna</p>
      </div>

      <div class="section">
        <h3>ENSEIGNANTS :</h3>
        <p>BOISSEAU-SABLÉ Lucien</p>
        <p>KNEBEL Julien</p>
        <p>PEYCHES Pierre</p>
        <p>RYCKEGHEM Maxime</p>
        <p>SÉJOURNÉ Alexis</p>

        <div class="remerciements">
          <h2>Remerciements :</h2>
          <p>
            Remerciements à l’équipe pédagogique du département Design Interactif de GOBELINS Paris<br>
            <b>LACAZE-MASMONTEIL Arnaud</b> <br><b>LEVALLOIS Clément</b> <br>responsable des départements Design Interactif
            et Jeu Vidéo <br><b>LE PENVEN Sylvie</b> <br>service Relations Entreprises
          </p>
        </div>
      </div>
    </div>

  </div>
</body>

</html>