<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <title>Crédits - BnF</title>
  <link rel="stylesheet" href="../../styles/views/credits.css">
</head>

<body>
  <div class="container">
    <h1>CREDITS</h1>
    <div class="credits">
      <div class="section">
        <h2>Equipe BnF :</h2>
        <p>Sarah Djennadi, chargée d’exposition</p>
        <p>Maxence Hermant, conservateur en chef, département des Manuscrits</p>
        <p>Damien Lebrun, responsable technique des expositions</p>
        <p>Roméo Marchetti, chargé d’édition</p>
        <p>Ludivine Moussytet, juriste</p>
        <p>Armelle Pasco, cheffe du service des Éditions multimédias</p>
        <p>Elsa Rigaux, cheffe du service des Expositions</p>
        <p>Nathalie Ryser, cheffe de projet médiation numérique</p>
        <p>Luminance, Reconstitution numérique de la reliure</p>
      </div>

      <div class="section">
        <h2>Equipe Gobelins</h2>
        <h3>DN MADE NUMÉRIQUE 2ème année :</h3>
        <p>BARBIER Lina</p>
        <p>BISCARO Mathilde</p>
        <p>DESRUELS–MARCINIAK Sara</p>
        <p>DIERICK Pauline</p>
        <p>GOGET Perrine</p>
        <p>GOUIN Louane</p>
        <p>GUILLO DALISSIER Lucile</p>
        <p>L’HOCINE Thaïs</p>
        <p>LINDSTROM Timo</p>
        <p>OTHON Lola</p>
        <p>PHRASAYSITHIDETH Kelly</p>
        <p>PIERONI Nolhan</p>
        <p>RAFELANA Anaëlle</p>
        <p>RATSIMA RAMINAHY Valiavo</p>
        <p>SERNA Amandine</p>
        <p>TERRAS Sophia</p>
      </div>

      <div class="section">
        <h3>DN MADE UXUI 2ème année :</h3>
        <p>AIT CHEIKH Lydia</p>
        <p>BRIQUET Ellynn</p>
        <p>CORENTHIN Nolan</p>
        <p>CURMER Anna–Laure</p>
        <p>FERNANDEZ Tom</p>
        <p>FLAUD Corentin</p>
        <p>GARNIT Leïla</p>
        <p>HORTH Daryna</p>
        <p>IHITSAGUE Justine</p>
        <p>JOUANNEAU Mailys</p>
        <p>KLAJIC–MARTINS Lisa</p>
        <p>LOURENÇO Julia</p>
        <p>MURTHEN Shivani</p>
        <p>NATRELLA Lucas</p>
        <p>NGUY VAN Cécilia</p>
        <p>PAOLETTI Maïlys</p>
        <p>SUN Henan</p>
        <p>THEOTA Kaïna</p>
      </div>

      <div class="section">
        <h2>Enseignants :</h2>
        <p>Lucien Boisseau</p>
        <p>Julien Knebel</p>
        <p>Pierre Peyches</p>
        <p>Maxime Ryckeghem</p>
        <p>Alexis Séjourné</p>

        <div class="remerciements">
          <h2>Remerciements :</h2>
          <p>
            Remerciements à l’équipe pédagogique du département Design Interactif de GOBELINS Paris,
            Arnaud Lacaze-Masmonteil, Clément Levallois, responsable des départements Design Interactif
            et Jeu Vidéo, et à Sylvie Le Penven du service Relations Entreprises.
          </p>
        </div>
      </div>
    </div>

    <img src="../../public/images/logoBnF.png" alt="Logo de la BnF" class="logo-bnf">
  </div>
</body>

</html>