*{
    margin-top: 10px;
}

.texte {
    color: white;
    font-size: 40px;
    position: fixed;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width: 850px;
    margin-left: 80px;
    padding: 15px;
    display: flex;

}

/* Première lettre agrandie */
.texte p::first-letter {
  font-size: 4rem;      
  float: top;            
  line-height: 1;
  margin-top: 0.05em; 
}


span {
    color: #ECA900;
    display: block;
    margin-top: 10px;
}

@font-face {
    font-family: 'VelinoText-Medium';
    src: url(/public/fonts/VelinoText-Medium.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    display: flex;
    background-color: #252525;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.book-area {
    position: relative;
    width: 150px;
    height: 800px;
    left: 350px;
    top: 60px;
}

/* Tranches */
.tranche {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 6rem;
    object-fit: cover;
    transition: clip-path 4s ease-in-out;
    opacity: 1;
}

.tranche.reveal {
    clip-path: inset(0 0 100% 0);
    opacity: 0;
}

.tranche.reveal.active {
    clip-path: inset(0 0 0 0);
    opacity: 1;
}

/* Pinceau */
.brush {
    position: relative;
    top: 9rem;
    right: 30px;
    width: 460px;
    transform: translate(-50%, -40%);
    transform-origin: bottom left;
    cursor: pointer;
    animation: pulse 3s ease-in-out;
    transition: transform 4s ease-in-out, filter 0.3s;
    z-index: 2;
}

@keyframes pulse {

    0%,
    100% {
        transform: translate(-50%, -40%) scale(1);
    }

    50% {
        transform: translate(-50%, -40%) scale(1.1);
        filter: drop-shadow(0 0 10px gold);
    }
}

.brush.active {
    animation: none;
    transform: translate(-50%, -40%) rotate(75deg) scale(1.1);
}

/* Conteneur cercle + popup */
.circle-container {
    position: absolute;
    top: 60%;
    /* ajustable selon l’endroit du livre */
    left: 115%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*cercle */
.circle {
    width: 125px;
    height: 125px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.6);
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease-in-out;
}

.circle.visible {
    opacity: 1;
    pointer-events: auto;
    animation: none;
}

@keyframes halo {

    0%,
    100% {
        box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.4);
    }

    50% {
        box-shadow: 0 0 20px 8px rgba(255, 255, 255, 0.8);
    }
}

/*popup*/
.popup {
    position: absolute;
    left: 100%;
    transform: translateY(-50%) scale(0.8);
    height: 370px;
    width: auto;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    pointer-events: none;
    z-index: 10;
}

.popup.visible {
    opacity: 1;
    transform: translateY(-50%) scale(1);
    pointer-events: auto;
}

.Louis {
    position: fixed;
    bottom: -100px;
    left: 750px;
    height: 80vh;
    opacity: 0.2;
    z-index: -1;
    pointer-events: none;
}

.logo-bnf {
  position: fixed;         
  bottom: 60px;            
  right: 60px;             
  width: 120px;            
  height: auto;
  z-index: 100;           
  pointer-events: none;  
  user-select: none;
}

.main {
    position: absolute;
    top: 60%;
    left: 250%;
    width: 500px; 
    height: 500px;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 6; 
    pointer-events: none;
    transition: opacity 0.5s ease;
}
.main.visible {
    opacity: 1;
}