/* * {
  overflow: hidden;
} */

body {
  overflow: hidden;
  background-color: rgb(35, 35, 35);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#scalpel {
  width: 400px;
  position: absolute;
  cursor: pointer;
  transform: rotate(45deg);
  position: absolute;
  top: 700px;
  left: 1350px;
  transform-origin: 50% 0px;
  z-index: 100000;
  user-select: none;
}

#main{
  position: absolute;
      top: 65%;
    left: 45%;
  width: 10%;
  z-index: 100;
  animation: mouv_gif 4s ease-in-out infinite ;
}

@keyframes mouv_gif {
  0%{
    top: 25%;
    left: 50%;
  }
    25%{
    top: 35%;
    left: 60%;
  }
    50%{
    top: 45%;
    left: 50%;
  }
    75%{
    top: 55%;
    left: 60%;
  }
   90%{
   opacity: 100%;
  }
    100%{
    top: 65%;
    left: 45%;
    opacity: 0%;
  }
}

/* Container pour la carte à gratter */
#container_am {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 700px;
  height: 600px;
}

.finished_lo {
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 700px;
  height: 600px;
  z-index: 10;
}

#livre_am {
  height: 445px;
}

#canvas_gratte {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 700px;
  height: 600px;
}

#canvas_gratte {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 700px;
  height: 600px;
}

@keyframes haloPulse_lo {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.3;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.15);
    opacity: 1;
  }
}

@keyframes haloPulse_lo2 {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.2;
  }
  50% {
    transform:  scale(1.03);
    opacity: 1;
  }
}

.finished_lo {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(236, 169, 0, 1) 0%, transparent 60%);
  z-index: 0;
  border-radius: 50%;
  filter: blur(20px);
  animation: haloPulse_lo 5s ease-in-out unset ;
}

/* .circle_pe {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  /* transform: translate(-60%, -60%); 
  width: 80px;
  height: 80px;
  box-shadow: 10px 10px 5px rgba(255, 0, 0, 0.896);
  /* background: radial-gradient(circle, rgba(236, 169, 0, 1) 0%, transparent 60%); 
  z-index: 0;
  border-radius: 50%;
  filter: blur(20px);
  animation: haloPulse_lo2 5s ease-in-out infinite ;
} */

/* .halo_lo {
  box-shadow: 0px 0px 8px 5px rgb(255 255 255 / 100%);
} */

.circle_pe {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px;
  height: 80px;
  box-shadow: 0px 0px 10px 5px rgb(255 255 255 / 100%);
  animation: haloPulse_lo2 5s ease-in-out infinite;
  border-radius: 50%;
}

.fond_gratte {
  position: relative;
}

.gradient_1 {
  position: absolute;
  left: 60%;
  top: 15%;
  border-radius: 1100px;
  width: 1100px;
  height: 1100px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(213, 190, 135, 0.15) 0%,
    rgba(236, 169, 0, 0) 100%
  );
}

.gradient_2 {
  position: absolute;
  bottom: 25%;
  right: 60%;
  border-radius: 1094px;
  width: 1094px;
  height: 1094px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(213, 190, 135, 0.15) 0%,
    rgba(236, 169, 0, 0) 100%
  );
}

#text {
  font-family: 'VelinoText-Light';
  position: relative;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  width: 30%;
}

.text_orange {
  color: #eca900;
}

.text_blanc {
  color: #ffffff;
  margin-bottom: 50px;
}

#sous-text {
  font-family: 'VelinoText-LightItalic';
  color: #ffffff;
  margin-bottom: 50px;
  font-size: 28px;
  display: flex;
  align-items: center;
}

#charles {
  display: flex;
  height: 90%;
  position: absolute;
  right: 1%;
  top: 18%;
  opacity: 20%;
}

#miseEnPage_lo {
  position: relative;
  display: flex;
  justify-content: left;
  margin: 5%;
  margin-left: 8%;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: 50px;
}

.pe_gratte_invisible {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.img_gratte_invisible {
  position: absolute;
  top: 0px;
  left: 800px;
  display: flex;
  width: 1120px;
  height: 980px;
  z-index: 11;
}

.pe_part_2_tab_gratte {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 400px;
  left: 500px;
  width: 350px;
}

.pe_img_modal_rond {
  width: 90%;
border: 2.5px solid #ffffff;
  border-radius: 180px;
}

#container_pe_button_modal {
  /* width: 100%;
  height: 100%; */
  display: none;
  position: absolute;
  top: 220px;
  left: 205px;
  z-index: 1000;
  flex-wrap: wrap;
}

.pe_cercle_invisible {
  width: 150px;
  height: 150px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.img_gratte_invisible {
  display: none;

  &.active_zoom {
    display: flex;
    gap: 30px;
  }
}

.active_zoom {
  display: flex;
  gap: 30px;
}

.rattrapage_lo {
  display: flex;
  align-items: center;
  gap: 80px;
  justify-content: center;
  flex-direction: column-reverse;

  &:nth-child(1) {
    flex-direction: column;
  }
}

/* #pe_modal_grand_1 {
  display: none;
}
#pe_modal_grand_2 {
  display: none;
}
#pe_modal_grand_3 {
  display: none;
}
#pe_modal_grand_4 {
  display: none;
} */

.pe_svg {
  width: 1800px;
  height: 1000px;
  position: absolute;
  top: 325px;
  left: 15px;
}

.modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  }