@import url('./reset.css');

@font-face {
    font-family: 'Injurial';
    src: url('../public/fonts/Injurial/205TF-Injurial-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Injurial-ttf';
    src: url('../public/fonts/Injurial/205TF-Injurial-Regular.ttf') format('opentype');
}

@font-face {
    font-family: 'VelinoText-Light';
    src: url('../public/fonts/VELINO Text/VelinoText-Light.otf') format('opentype');
}

@font-face {
    font-family: 'VelinoText-LightItalic';
    src: url('../public/fonts/VELINO Text/VelinoText-LightItalic.otf') format('opentype');
}

@font-face {
    font-family: 'VelinoText-Medium';
    src: url('../public/fonts/VELINO Text/VelinoText-Medium.otf') format('opentype');
}

#logo_BnF {
  width: 120px !important;
} 

#logo {
  position: absolute;
  bottom: 5%;
  right: 5%;
} 
.texte_blanc {
    font-family: 'VelinoText-Light';
    font-size: 32px;
    font-weight: 500;
    width: 90%;
    color: white;
}

.texte_jaune {
    font-family: 'VelinoText-Light';
    font-size: 32px;
    color: #eca900;
    width: 90%;
}

body {
    margin: 150px;
    margin-top: 60px;
    overflow: hidden;
}
#logo_BnF {
  width: 120px !important;
} 

#logo {
  position: absolute;
  bottom: 5% !important;
  right: 5% !important;
} 
.texte_blanc {
    font-family: 'VelinoText-Light';
    font-size: 32px;
    font-weight: 500;
    width: 90%;
    color: white;
}

.texte_jaune {
    font-family: 'VelinoText-Light';
    font-size: 32px;
    color: #eca900;
    width: 90%;
}

