*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /* width: 1920px;
  height: 1080px; */
  background-color: #252525;
  /* margin: 0px;
  display: flex;
  justify-content: center;
  overflow: hidden; */
  margin: 150px;
  padding: 0;
  margin-top: 60px;
  overflow: hidden;
}

@font-face {
  font-family: "Injurial-Regular";
  src: url("../public/fonts/Injurial/205TF-Injurial-Regular.otf") format("opentype");
}

@font-face {
  font-family: "VelinoText-Thin";
  src: url("../public/fonts/VELINOText/VelinoText-Thin.otf") format("opentype");
}

@font-face {
  font-family: "VelinoText-Light";
  src: url("../public/fonts/VELINOText/VelinoText-Light.otf") format("opentype");
}

@font-face {
  font-family: "VelinoText-Medium";
  src: url("../public/fonts/VELINOText/VelinoText-Medium.otf") format("opentype");
}

@font-face {
  font-family: "VelinoText-Bold";
  src: url("../public/fonts/VELINOText/VelinoText-Bold.otf") format("opentype");
}

@font-face {
  font-family: "VelinoText-Black";
  src: url("../public/fonts/VELINOText/VelinoText-Black.otf") format("opentype");
}

#container-zoom-reliure {
  margin-top: 5vh;
  width: 100%;
  height: 95vh;
}

.reliure {
  height: 985px;
  display: flex;
  position: relative;
  top: 62px;
  right: 95px;
  /* 55px de base --- +40px right */
}

/*
h1 {
  /* font-family: "VelinoText-Medium";
  line-height: 1.15;
  letter-spacing: normal;
  font-size: 30px;
  color: #ffffff;
  display: flex;
  position: relative;
  justify-content: end;
  flex-direction: row;
  top: -735px;
  right: 105px;
} */

.texte_blanc {
  font-family: "VelinoText-Light";
  font-size: 32px;
  font-weight: 500;
  width: 90%;
  color: white;
  /* position: absolute; */

  display: flex;
  position: relative;
  justify-content: end;
  flex-direction: row;
  top: -745px;
  right: -225px;
}

.text_yellow{
  position:absolute;
  display:flex;
  left:42%;
  top:65%;
  font-family: 'VelinoText-Light';
  font-size: 32px;
  color: #eca900;
}

#logo_BnF {
  width: 120px !important;
} 

#logo {
  position: absolute;
  bottom: 5% !important;
  right: 5% !important;
} 





.bouton-termine {
  display: block;
  position: absolute;
  bottom: 460px;
  left: 1520px;
  width: 300px;
  height: 100px;
}

.cercle-zoom1 {
  display: block;
  position: absolute;
  z-index: 1000;
  bottom: 766px;
  left: 138px;
  width: 155px;
  height: 155px;
}

.cercle-zoom2 {
  display: block;
  position: absolute;
  z-index: 10;
  bottom: 494px;
  left: 198px;
  width: 120px;
  height: 120px;
}

.cercle-zoom3 {
  display: block;
  position: absolute;
  z-index: 10;
  bottom: 508px;
  left: 320px;
  width: 180px;
  height: 180px;
}

.cercle-zoom4 {
  display: block;
  position: absolute;
  z-index: 10;
  bottom: 96px;
  left: 440px;
  width: 175px;
  height: 175px;
}

.lumiere-cercle1 {
  display: block;
  position: absolute;
  z-index: 600;
  bottom: 706px;
  left: 62px;
  width: 295px;
  height: 295px;
  opacity: 0.65;
  filter: blur(1px);
}

.lumiere-cercle2 {
  display: block;
  position: absolute;
  z-index: 6;
  bottom: 416px;
  left: 112px;
  width: 295px;
  height: 295px;
  opacity: 0.65;
  filter: blur(1px);
}

.lumiere-cercle3 {
  display: block;
  position: absolute;
  z-index: 6;
  bottom: 401px;
  left: 204px;
  width: 410px;
  height: 410px;
  opacity: 0.65;
  filter: blur(1px);
}

.lumiere-cercle4 {
  display: block;
  position: absolute;
  z-index: 6;
  bottom: -65px;
  left: 273px;
  width: 510px;
  height: 510px;
  opacity: 0.86;
  filter: blur(1px);
}

.zoom-grand,
.zoom-petit {
  display: flex;
  position: absolute;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.bleu1 {
  top: 534px;
  left: 885px;
  width: 31%;
  z-index: 5;
  opacity: 0;
}

.bleu2 {
  top: 654px;
  left: 1525px;
  width: 15%;
  z-index: 5;
  opacity: 0;
}

.femme1 {
  top: 534px;
  left: 885px;
  width: 31%;
  z-index: 5;
  opacity: 0;
}

.femme2 {
  top: 654px;
  left: 1525px;
  width: 15%;
  z-index: 5;
  opacity: 0;
}

.jesus1 {
  top: 534px;
  left: 885px;
  width: 31%;
  z-index: 5;
  opacity: 0;
}

.jesus2 {
  top: 654px;
  left: 1525px;
  width: 15%;
  z-index: 5;
  opacity: 0;
}

.bas1 {
  top: 534px;
  left: 885px;
  width: 31%;
  z-index: 5;
  opacity: 0;
}

.bas2 {
  top: 654px;
  left: 1525px;
  width: 15%;
  z-index: 5;
  opacity: 0;
}

.traits {
  display: flex;
  position: absolute;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.trait-1 {
  top: 234px;
  left: 270px;
  width: 32.5%;
  opacity: 0;
}

.trait-2 {
  top: 486px;
  left: 473px;
  width: 23%;
  opacity: 0;
}

.trait-3 {
  top: 553px;
  left: 289px;
  width: 32.5%;
  opacity: 0;
}

.trait-4 {
  top: 730px;
  left: 574px;
  width: 20%;
  opacity: 0;
}



.active {
  opacity: 1;
}

.hidden {
  display: none;
}